.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.7);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }
  .center {
  }
  &-content {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: #fff;
    background-size: cover;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    // display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
    // display: flex;
  }

  //Open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &-close {
    &:link,
    &:visited {
      color: $color-tertiary-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-secondary-dark;
    }
  }
}
.popup-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin-bottom: 1rem;
}
.popup .form-input {
  background-color: rgba($color-white, 0.8);
}
.popup-form {
  width: 100%;
  &:last-child {
    margin-bottom: 1rem;
  }
}
